p  {
text-align: justify;
}


#body{
background-image: url(../images/blue.png);
background-repeat: repeat;

}





#navigation{
text-align: center;

}


.chapter{
background-color:#4396B4;

font-size: 20pt;
text-align:center;
border: 2px solid black;
border-radius: 20;
}


.content
{
font-family: Verdana;
font-size: 12pt;
text-align: justify;
background-image:url(../images/fon.png);
}



.n{
margin:0 auto 0 auto;
text-align: center;
background-color:#FF00FF;
border: 3px solid #000000;
border-radius: 15%;
height:100px;
border-radius: 15%;
font-size:25pt;

}
a { 
    display: block;
    text-decoration: none;
    color: #000000; 
    text-decoration: none; 
   }
   a:visited {
    color: #000000; 
   } 

 pre {
 white-space:pre-line;
 }
 
